body{

margin:0;
padding:0;
background:#eeeeee;


}


.content{

color:#ffffff;
text-align:center;
}
video{

min-height:100%;
min-width:100%;
background: rgba(0,200,0,0.4);
top:0;
left:0;
bottom:0;
right:0;
}



h2{

color:#eeeeee;
position:relative;
bottom:590px;
font-weight:uppercase;
font-size:3.6em;
text-align:center;

}





h3{

color:#eeeeee;
position:relative;
bottom:590px;
font-weight:uppercase;
font-size:3em;
text-align:center;
line-height:1px;
}


button{
width:220px;
height:40px;
color:blue;
position:relative;
bottom:560px;
margin-left:auto;
margin-right:auto;
border-radius:1px solid black;

}
nav ul li a{
color:black;
text-decoration:none;

}

}
nav ul li a:hover{
color:blue;
text-decoration:none;

}



nav li{

float:left;
padding:10px;
color:black;
margin:0px;

text-decoration:none;
display:inline;
}